apiVersion: v1
kind: Service
metadata:
  name: ping-pong-svc
  labels:
    app: ping-pong
spec:
  ports:
    - port: 5432
      name: db
  clusterIP: None
  selector:
    app: ping-pong-app
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: ping-pong-ss
spec:
  serviceName: ping-pong-svc
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong-app
  template:
    metadata:
      labels:
        app: ping-pong-app
    spec:
      containers:
        - name: ping-pong
          image: javiercoronadonarvaez/ping-pong:v2.0.0
          resources:
            requests:
              cpu: '100m'
              memory: '128Mi'
            limits:
              cpu: '500m'
              memory: '512Mi'
          env:
            - name: PORT
              value: '3001'
            - name: DATABASE_URL
              value: 'postgresql://postgres:postgres@ping-pong-svc:5432/pingpong'
        - name: postgres
          image: postgres:18
          env:
            - name: POSTGRES_DB
              value: postgres
            - name: POSTGRES_USER
              value: postgres
            - name: POSTGRES_PASSWORD
              value: postgres
          ports:
            - name: db
              containerPort: 5432
          volumeMounts:
            - name: data
              mountPath: /var/lib/postgresql/data
      initContainers:
        - name: wait-for-postgres
          image: postgres:18
          command:
            [
              'sh',
              '-c',
              'until pg_isready -h ping-pong-svc -U postgres; do sleep 2; done',
            ]
          env:
            - name: POSTGRES_USER
              value: postgres
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: ['ReadWriteOnce']
        storageClassName: local-path
        resources:
          requests:
            storage: 100Mi
